// Font family variables
$title-font: 'Noticia Text', serif;
$body-font: 'Open Sans', sans-serif;

// Font size variables
$mobile-size: 1.167rem;
$desktop-size: 1rem;

// Color variables
$dk-orange: #b58625;
$grey: #e4e9ed;
$lt-blue: #3398cc;
$lt-red: #ee4d23;
$orange: #f5b531;
$penn-blue: #15244d;
$penn-blue-op: rgba(21, 36, 77, 0.69);
$penn-red: #9d202e;
$penn-red-op: rgba(157, 32, 46, 0.57);
$teal: #2b4f5d;
$teal-op: rgba(43, 79, 93, 0.85);
$transparent: rgba(0, 0, 0, 0);
$white: #ffffff;
